root: {
    --main-bg-color: #ff61c3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: transparent;
    color: #ffffff; 
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 2px;
}

h1 {
    font-family: 'UnifrakturMaguntia', 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

/* star stuff  */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;
  
  animation:move-twink-back 200s linear infinite;
}

/* Make sure stars stays behind everything else */

main {
    position: relative;
    z-index: 2;
}